*{
    margin: 0%;
    padding: 0%;
    font-family: "myfonts";
}
.logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo h1 ,p{
    color:  rgb(28, 28, 30);
    font-family: "myfonts";
}
#nav-bar{
    position: sticky;
}
#nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;  
    height: 50px;
    margin-top: 20px;
    background-color: rgba(177, 191, 244, 0.897);
    
}
#nav-items li{
    list-style-type: none;
}
#nav-items a{
    text-decoration: none;
    color: rgb(28, 28, 30);
    font-family: "myfonts";
}
.section1{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
}
.box1{
    width: 45%;
    height: 400px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "myfonts";
}
.box1 input{
    width: 50%;
    height: 35px;
    border-radius: 10px;
    margin-top: 20px;
}
@media(max-width : 800px){
   .box1{
    align-items: flex-start;
   }
   .box1 input{
    width: 100%;
   }
   .box2 img{
    width: 80%;
    height: 90%;
    margin-left: 30px;
   }
   .footer-info{
    flex-direction: column;
   }
}
.box2{
    width: 45%;
    height: 400px;
   
}
.box2 img{
    border-top-left-radius: 80%;
}
.section2{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

@font-face {
    font-family: "myfonts";
    src: url(./fonts/SIL\ Open\ Font\ License.txt);
    src: url(./fonts/Courier\ Prime\ Code\ Italic.ttf);
}
.bodyText{
    font-family: "myfonts";
}
.best-sellers{
    margin-top: 40px;
    margin-left: 40px;
    width: 37%;
    background-color:rgba(177, 191, 244, 0.57);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.section3{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% auto;
    margin-top: 10px;
    gap: 25px;
}
.sec3-box{
    width: 300px;
    height: 350px;
    position: relative;
    border-radius: 10px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 70px;
    /* background-color: rgba(37, 38, 42, 0.87); */
    background-color:rgba(177, 191, 244, 0.87);
    top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    color: rgb(4, 4, 65);
}
.overlay-btn{
    position: absolute;
    width: 50%;
    height: 40px;
    /* background-color: rgba(137, 151, 204, 1); */
    background-color: crimson;
    color: white;
    border: none;
    cursor: pointer;
    top: 300px;
    left: 90px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
.section4{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% auto;
    margin-top: 30px;
    gap: 25px;
}
.sec4-box {
    width: 300px;
    height: 410px;
    background-color: aliceblue;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.sec4-box img {
    /* margin-top: 10px; */
    width: 90%;
    height: 270px;
    border: 1px solid black;
    border: none;
}
.book-info{
    width: 90%;
    height: 120px;
    background-color:rgba(177, 191, 244, 1);
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec4-btn{
    width: 50%;
    height: 40px;
    background-color: crimson;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
    margin-top: 10px;
}
#author-name{
    background-color: rgba(230, 66, 99, 0.53);
    color: rgb(255, 255, 255);
}
.section5{
    width: 70%;
    margin: 0% auto;
    background-color:rgba(177, 191, 244, 1);
    margin-top: 30px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-icons{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(48, 48, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.fa ,.fa-solid{
    font-size: 2rem;
}
footer{
    width: 90%;
    /* justify-content: space-between; */
    margin: 0% auto;
    height: 300px;
    background-color:rgba(150, 169, 238, 0.087);
    margin-top: 30px;
}
.footer-info{
    display: flex;
    justify-content: space-around;
}
.footerBox{
    width: 300px;
    /* border: 1px solid black; */
    height: 300px;
}
.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-us>ul>li a ,li{
    margin-right: 20px;
    color: black;
    margin-top: 5px;
    list-style-type: none;
}
.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


